/*
 * Hotel Calendar JS v0.0.1a - 2017
 * GNU Public License
 * Aloxa Solucions S.L. <info@aloxa.eu>
 *     Alexandre Díaz <alex@aloxa.eu>
 */


/* .openerp .oe-view-manager {
	overflow: initial !important;
}
 */

.o_hotel_calendar_view {
  display: flex;
	height: 100%;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

#pms-menu {
	padding: 0 0.2em !important;
	overflow: auto;
}

#pms-menu .input-group span, #pms-menu input {
	border-radius: 0;
}

#pms-menu button {
  border-radius: 0;
  border: 1px solid lightgray;
  font-size: x-small;
}

#pms-calendar: {
	flex: 1 1 auto;
	overflow: auto;
}

button .led {
	position: absolute;
	display: inline-block;
	right: 5px;
	top: -1px;
	width: 8px;
	height: 8px;
	border: 1px solid lightgray;
	border-top-width: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	transition: all 0.5s ease;
}
button .led-disabled {
	background-color: dimgrey;
}
button .led-enabled {
	background-color: khaki;
	box-shadow: 0 0 8px 0px khaki;
}

button .led-green {
	background-color: chartreuse;
	box-shadow: 0 0 8px 0px chartreuse;
}

button .led-blue {
	background-color: cornflowerblue;
	box-shadow: 0 0 8px 0px cornflowerblue;
}

input#bookings_search {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border: 1px solid lightgray;
}

#pms-menu .menu-date-box {
	margin-top: 2px !important;
}

#pms-menu .menu-button-box, #pms-menu .menu-search-box, #pms-menu .menu-filter-box {
	margin-top: 2em !important;
}

#pms-menu .menu-filter-box .filter-record {
	margin-top: 1em;
}

#pms-menu .button-box {
	text-align: left;
	min-height: 3.5em;
	padding: 3px;
	transition: all 0.5s ease;
}

.button-highlight {
	background-color: orange;
	color: white;
}
.button-highlight i {
	color: white;
}

.multi-calendar-tab-plus {
	background-color: darkgray;
	font-weight: bold;
	color: white;
}

#pms-menu div[id^=btn_] {
	padding: 2px;
}

.warn-message {
  text-align: center;
  line-height: 100vh;
  font-size: xx-large;
  color: gray;
}

/** SELECT 2 **/
#pms-menu .select2-container {
	border-radius: 0;
}
/** BOOTSTRAP **/
.badge-danger {
	background-color: #d34f2a !important;
}

/** ODOO **/
.o_chat_window {
  z-index: 8 !important;
}

.o_button_icon {
	display: inline-block;
	width: 37px;
	padding: 0px 3px;
	text-align: center;
	vertical-align: middle;
	color: #7C7BAD;
	font-size: 24px;
}

.o_button_text {
	display: inline-block;
	vertical-align: middle;
	max-width: 70%;
	line-height: 1.2;
	text-align: left;
}
