/*
 * Hotel Calendar JS v0.0.1a - 2017
 * GNU Public License
 * Aloxa Solucions S.L. <info@aloxa.eu>
 *     Alexandre Díaz <alex@aloxa.eu>
 */


/* .openerp .oe-view-manager {
	overflow: initial !important;
}
 */

.o_hotel_calendar_view {
  display: flex;
	height: 100%;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}



#pms-menu {
	overflow: auto;
	background-color: #f8f8f8;
	height: 100%;
	padding: 0 2.5em;
}

#pms-menu .input-group span, #pms-menu input {
	border-radius: 0;
}

#pms-menu button {
  border-radius: 0;
  border: 1px solid lightgray;
  font-size: x-small;
}

#pms-calendar: {
	flex: 1 1 auto;
	overflow: auto;
}

#pms-search {
	position: fixed;
	z-index: 9;
}

#hcal_widget {
  max-height: 100%;
}

#multicalendar_panels {
    background-color: white;
    border-left: 1px solid #ddd;
}

.nav-tabs > li > a {
    border-radius: 0;
}

.nav-tabs {
    padding-top: 4px;
}

/* BUTTON STATES */
.navbar-default {
    border-color: #f8f8f8;
}


.unify-enabled {
	background-color: #43A200;
	color: white;
}

.divide-enabled {
	background-color: #43A200;
	color: white;
}

.overbooking-enabled {
	background-color: #43A200;
	color: white;
}

.cancelled-enabled {
	background-color: #43A200;
}

.swap-from {
	background-color: #E7CF1D;
	color: #7C7BAD;
}

.swap-to {
	background-color: #43A200;
	color: white;
}

.unify-enabled i, .divide-enabled i, .cancelled-enabled i, .overbooking-enabled i, .swap-to i {
	color: white;
}

.swap-from i {
	color: #7C7BAD;
}

/* END: BUTTON STATES */

input#bookings_search {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border: 1px solid lightgray;
}

#pms-menu .menu-date-box {
	margin-top: 2px !important;
}

#pms-menu .menu-button-box, #pms-menu .menu-search-box, #pms-menu .menu-filter-box {
	margin-top: 1em !important;
}

#pms-menu .menu-filter-box .filter-record {
	margin-top: 1em;
}

#pms-menu .menu-filter-box h4 {
  cursor: pointer;
}
#pms-menu .menu-filter-box h4 i {
  transition: all 0.5s ease;
}

#pms-menu .button-box {
	text-align: left;
	min-height: 3.5em;
	padding: 3px;
	transition: all 0.5s ease;
	overflow: hidden;
}

.overbooking-highlight {
	color: white;
	background-color: #FFA500;
}

.overbooking-highlight i {
  color: white;
}

.multi-calendar-tab-plus {
	background-color: darkgray;
	font-weight: bold;
	color: white;
}

#pms-menu div[id^=btn_] {
	padding: 2px;
}

.warn-message {
  text-align: center;
  line-height: 100vh;
  font-size: xx-large;
  color: gray;
}

/** SELECT 2 **/
#pms-menu .select2-container, #pms-menu .select2-choice {
	border-radius: 0;
}
#pms-menu .select2-choice {
	height: 100%;
	padding: 2px;
}

/** BOOTSTRAP **/
.badge-danger {
	background-color: #d34f2a !important;
}

/** ODOO **/
.o_chat_window {
  z-index: 8 !important;
}

.o_button_icon {
	display: inline-block;
	width: 37px;
	padding: 0px 3px;
	text-align: center;
	vertical-align: middle;
	color: #7C7BAD;
	font-size: 24px;
}

.o_button_text {
	display: inline-block;
	vertical-align: middle;
	max-width: 70%;
	line-height: 1.2;
	text-align: left;
}

.text-hidden-xs {
	overflow: hidden;
	text-overflow: ellipsis;
}

/** POPOVER **/
.popover-content {
  font-family: Garuda, sans-serif;
  font-size: 12px;
  padding: 0px;
}
.popover .h3, .popover h3 {
  margin-top: 2px;
  margin-bottom: 2px;
}
.popover {
  max-width: 400px;
  border-radius: 0px;
  padding: 0px;
}
.popover .container {
  max-width: 100%;
}
.popover .container p {
  margin-top: 2px;
  margin-bottom: 0px;
}
.popover .container p.email {
  word-wrap: break-word;
}
.popover .container p.board {
  margin-top: 0px;
}
.popover header {
  font-size: 1.2em;
}

.fa-1_5x {
  font-size: 1.5em;
}
.fa-2_5x {
  font-size: 2.5em;
}
.fa-text-inside {
  font-family: Garuda, sans-serif;
  font-size: 12px;
}
.popover .col-sm-2, .popover .col-sm-4, .popover .col-sm-6, .popover .col-sm-12 {
  padding-top: 3px;
  padding-bottom: 3px;
}
/* custom styles for popover info */
.popover .circle {
  height:35px;
  min-width:35px;
  line-height:35px;
  border-radius:50px;
  text-align:center;
  color:#fff;
  background:#777;
  margin-right: .65em;
  padding: 0 5px;
}

.popover .bg-gray-lighter {
  background-color: #ddd;
  color: #777;
}
.popover .text-gray-dark {
  color: #777;
}


/* Spacing in Bootstrap v4.0 */
.mt-3 {
  margin-top: 3px;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px !important;
}
.my-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.mt-25 {
  margin-top: 25px;
}
.mr-5 {
  margin-right: 5px;
}
.mx-15 {
  margin-left: 15px;
  margin-right: 15px;
}
.mx-25 {
  margin-left: 25px;
  margin-right: 25px;
}
.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}
.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.pt-9 {
  padding-top: 9px;
}
.pb-3 {
  padding-bottom: 3px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pl-5 {
  padding-left: 5px;
}
.pr-0 {
  padding-right: 0px;
}

/* WARNING: The .row-eq-height class uses CSS3's flexbox layout mode,
            which is not supported in Internet Explorer 9 and below. */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* TODO: Use Odoo Colours based on http://www.odoo.com/openerp_website/static/src/less/variables.less */

div.diagonal {
  overflow: hidden;
  background-color: #777;
}
.diagonal:before {
  content: "";
  border-top: 700px solid #777;
  border-right: 500px solid #ddd;
  position: absolute;
  left: 40%;
  bottom: 0;
}
div.diagonal_pending_amount {
  background-color: #A24689;
}
.diagonal_pending_amount::before {
    border-top-color: #A24689;
}

div.triangle-right {
  overflow: hidden;
  color: white;
  background-color: #7c7bad;
}
.triangle-right:before {
  content: "";
  position: absolute;
  border: 26px solid #ddd;
  height: 0;
  width: 100%;
  left: 47%;
  top: 0;
  bottom: 0;
  margin: auto;
  border-left-color: transparent;
}

div.on-top {
  position: inherit;
}
div.pull-right-custom {
  float: right !important;
  margin-right: 15px;
  color: #777;
  text-align: right;
}

@keyframes blinker {
  50% { opacity: 0; }
}